@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Gowun+Dodum&family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Navbar.jsx (s) */
.login-button {
  display: flex;
  justify-content: space-between;
  padding : 3%;
  font-family: "Gaegu", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  cursor : pointer;
}

.login-button p:hover {
  color : #feae62;
}

.logo-section {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.search-section {
  display: flex;
  justify-content: center
}

.menuBtn-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 10px;
}

.menuBtn-list li {
  margin-left: 3%;
  padding : 7px;
  font-family: "Gaegu", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 130%;
  cursor: pointer;
}

.menuActive {
  color : #feae62;
}

input:focus {
  outline: none;
}

.search-box {
  border-width : 0 0 1px;
  border-bottom-color: #feae62;
  color: #feae62;
  background-color: #dc5c51;
  padding: 5px;
}
/* Navbar.jsx (e) */

/* MenuAll.jsx (s) */
.loadingWrap{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.loadingErrorMsg {
    font-family: "Jua", sans-serif;
    font-style: normal;
    color : #ffffff;
    background-color : rgba(255, 32, 32, 0.61);
    animation: blink 1s infinite; /* 1초 간격으로 무한 반복 */
    height: 100px;
    padding : 20px;
    border-radius: 10px;
}

.noSearchResult {
  color : #dc5c51;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Jua", sans-serif;
  font-style: normal;
  margin-top: 15%
}
/* MenuAll.jsx (e) */


/* MenuCard.jsx (s) */
.menucard-wrap {
  display: flex;
  flex-direction: column;
  padding: 2%;
  align-items: center; /* 가로 중앙 정렬 */
  text-align: center;  /* 텍스트 자체 가운데 정렬 */
  cursor: pointer;
  margin-top: 2%;
}

.menucard-wrap:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.img-wrap img {
  width: 100%;
  height: 220px;
  position: relative;
  z-index: 1;
  border-radius: 10%;
}

.img-wrap .recommend-icon {
  position : absolute;
  z-index: 2;
  width: 55px;
  height: 35px;
  margin: 1.0%;
  display: flex;
  justify-content: flex-start;
} 

.info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.9;
  margin-top: 6%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 90%;
  color: #363636;
}

.menu-title {
  display: flex;
  align-items: center;   /* 세로 정렬 */
  justify-content: center; /* 가운데 정렬 */
  gap: 6px;               /* 아이콘과 텍스트 간격 */
  font-weight: bold;
  line-height: 2.1;  /* 텍스트가 눌리지 않도록 높임 */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.newIcon {
  vertical-align: middle;
  animation: blink 1.0s infinite; /* 1초 간격으로 무한 반복 */
  width: 100%;
  height: 20%;
  display: inline-block;
}
/* MenuCard.jsx (e) */

/* Login.jsx (s) */
.loginContainer {
  font-family: "Jua", sans-serif;
}

.loginContainer input {
  color: #ff7777;
}
.loginContainer input::placeholder {
  color: #979797;
}

.login-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  font-style: normal;
  cursor : pointer;
}

.redBtn {
  border-radius: 5px;
  background-color: #dc5c51;
  border: none;
  padding : 3px;
  font-family: "Jua", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 100%;
  margin-top: 3%;
  width: 80px;
  height: 35px;
}
.redBtn:hover {
  background-color: #ffffff;
  border: 2px solid #dc5c51;
}
/* Login.jsx (e)  */

/* MenuDetail.jsx (s) */
.menu-img {
  display: flex;
  justify-content: flex-end;
}

.menuDetail-title {
  font-size: 120%;
  color: #dc5c51;
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  gap: 4px;               
  font-family: "TmoneyRoundWindExtraBold", sans-serif;
  line-height: 1.8;  
}
.menuDetail-des {        
  font-family: "TmoneyRoundWind", sans-serif;
}
/* MenuDetail.jsx (e) */

/* Intro.jsx(s) */
.introWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #dc5c51;
  font-family: "Jua", sans-serif;
  background-color: antiquewhite;
  padding: 3%;
  margin: 5%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.intro-content {
  font-family: "TmoneyRoundWind", sans-serif;
  text-align: left;
  color: #606060;
}
/* Intro.jsx(e) */

/* Order.jsx(e) */

/* Order.jsx(e) */